@page
@model IndexModel
@{
  ViewData["Title"] = "Home";
}

<h1 class="display-4">Welcome to Our Hotel</h1>

<div class="card">
  <div class="card-header">
    Reserve a Room
  </div>
  <div class="card-body">
    <p>
      Now you can Reserve a Room for a full day in our Hotel.     
    </p>
    <a href="/ReserveRoom" class="btn alert-success">Reserve a Room</a>
  </div>
</div>
